* {
    margin: 0; 
    padding: 0;
}
/* Menu bar */
nav {
    background-color: pink;
    color: brown;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}

ul.menu {
    display: flex;
    list-style: none;
}

ul.menu li {
    margin-right: 1rem;
}

ul.menu li a{
    color: brown;
    text-decoration: none;
}

ul.menu li a:hover {
    color: blue;
    text-decoration: none;
}

/* container */
p {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    width: 100%;
}

.card {
    margin: 10px;
    background: plum;
    padding: 20px;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(5px) scale(1.002);
}

.card h1 {
    color: Black;
}

.card p {
    color: white;
}

